{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-card">
        <div class="login-form-column">
            <div class="login-form-content">
                <h2 class="login-title">Acesse sua Conta</h2>
                <p class="login-subtitle">Bem-vindo de volta! Faça o login para continuar.</p>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} mb-3">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form method="POST" action="" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.email.label(class="form-label") }}
                        {{ form.email(class="form-control", placeholder="seu.email@exemplo.com") }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control", placeholder="Sua Senha") }}
                    </div>
                    <div class="form-group form-check">
                        {{ form.remember_me(class="form-check-input") }}
                        {{ form.remember_me.label(class="form-check-label") }}
                    </div>
                    {{ form.submit(class="btn-login") }}
                </form>
                <div class="login-footer-text">
                    Ainda não tem uma conta? <a href="{{ url_for('auth.register') }}">Registe-se</a>
                </div>
            </div>
        </div>

        <div class="login-image-column">
            </div>
    </div>
</div>
{% endblock %}