{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h2>Login</h2>
            </div>
            <div class="card-body">

                <form method="POST" action="" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {{ form.email(class="form-control", placeholder="seu.email@exemplo.com") }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label }}
                        {{ form.password(class="form-control") }}
                    </div>
                    <div class="form-group form-check">
                        {{ form.remember_me(class="form-check-input") }}
                        {{ form.remember_me.label(class="form-check-label") }}
                    </div>
                    {{ form.submit(class="btn btn-primary") }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}