{% extends "base.html" %}

{% block title %}Início{% endblock %}

{% block content %}
    <h1 class="mb-4">Próximos Eventos</h1>

    {% if eventos %}
        {% for evento in eventos %}
            <div class="evento card mb-3">
                <div class="card-body">
                    <h2 class="card-title">{{ evento.nome_evento }}</h2>
                    <p><strong>Data e Hora:</strong> {{ evento.data_hora_evento.strftime('%d/%m/%Y às %H:%M') }}</p>
                    {% if evento.palestrante %}
                        <p><strong>Palestrante:</strong> {{ evento.palestrante }}</p>
                    {% endif %}
                    {% if evento.local_evento %}
                        <p><strong>Local:</strong> {{ evento.local_evento }}</p>
                    {% endif %}
                    {% if evento.descricao %}
                        <p><strong>Descrição:</strong> {{ evento.descricao }}</p>
                    {% endif %}
                    <p><strong>Preço:</strong> R$ {{ "%.2f"|format(evento.preco|float) }}</p>
                    <p><strong>Vagas Disponíveis:</strong> {{ evento.numero_vagas }}</p>

                    <a href="{{ url_for('public.inscrever_evento', evento_id=evento.id) }}" class="inscricao-link btn btn-success">Inscrever-se</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="sem-eventos">Nenhum evento programado no momento. Volte em breve!</p>
    {% endif %}
{% endblock %}